---
import ArrowUpRight from "../../assets/icons/ArrowUpRight.astro";
---

<div class="w-full h-full flex flex-col items-center justify-center">
    <div class="w-full h-full xl:max-w-[75%] px-10 sm:px-20">
        <div
            class="w-full h-full flex flex-col items-center justify-center gap-12"
        >
            <h1
                class="text-4xl sm:text-6xl font-bold text-white drop-shadow-lg"
            >
                Diseñemos la solución adecuada para tu negocio
            </h1>

            <div class="w-full flex flex-col items-start justify-center gap-4">
                <p class="text-sm sm:text-lg font-semibold text-white">
                    Una buena página web y procesos bien definidos marcan la
                    diferencia. Agenda una asesoría y revisemos cómo optimizar
                    tu captación y operación.
                </p>

                <button
                    class="flex flex-row items-center gap-2 bg-tertiary hover:bg-tertiary/60 transition-all duration-500 text-black border-2 border-secondary font-semibold uppercase px-5 py-4"
                    >Agendar asesoría gratuita <ArrowUpRight
                        color="#000"
                    /></button
                >

                <div
                    class="flex flex-col sm:flex-row items-start justify-start gap-4 w-full"
                >
                    <p
                        class="text-xs sm:text-sm text-white font-light drop-shadow p-2 bg-primary rounded-full"
                    >
                        Sin compromiso
                    </p>
                    <p
                        class="text-xs sm:text-sm text-white font-light drop-shadow p-2 bg-primary rounded-full"
                    >
                        Respuesta rápida
                    </p>
                    <p
                        class="text-xs sm:text-sm text-white font-light drop-shadow p-2 bg-primary rounded-full"
                    >
                        Te orientamos desde el primer contacto
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
