---

---

<div class="w-full h-full flex flex-col items-center justify-center">
    <div class="w-full sm:w-1/2 h-full">
        <div
            class="w-full h-full flex flex-col items-center justify-center gap-12"
        >
            <h1 class="text-4xl sm:text-6xl font-bold text-white">
                Soluciones digitales para captar clientes y optimizar procesos
            </h1>

            <div class="w-full flex flex-col items-start justify-center gap-4">
                <p class="text-sm sm:text-lg font-semibold text-white">
                    Diseñamos landing pages de alto impacto y automatizaciones
                    inteligentes para negocios, eventos y proyectos
                    inmobiliarios. Servicios independientes, claros y adaptados
                    a cada necesidad.
                </p>
                <div
                    class="flex flex-row items-center justify-start gap-4 w-full"
                >
                    <button
                        class="bg-secondary text-black border-2 border-black font-semibold uppercase px-5 py-4"
                        >Ver landing pages</button
                    >
                    <button
                        class="bg-tertiary text-black border-2 border-black font-semibold uppercase px-5 py-4"
                        >Ver automatizaciones</button
                    >
                </div>
                <p class="text-xs sm:text-sm text-white">
                    Puedes contratar un servicio o combinar ambos según tu
                    proyecto.
                </p>
            </div>
        </div>
    </div>
</div>
