---
import ArrowUpRight from "../../assets/icons/ArrowUpRight.astro";
---

<div class="w-full h-full flex flex-col items-center justify-center">
    <div class="w-full h-full xl:max-w-[75%] px-10 sm:px-20">
        <div
            class="w-full h-full flex flex-col items-start justify-center gap-8"
        >
            <div
                class="w-full flex flex-col items-center justify-center gap-4 text-center"
            >
                <p
                    class="text-sm sm:text-base font-light text-black/60 uppercase"
                >
                    ¿QUÉ HACEMOS?
                </p>

                <div class="w-full bg-primary px-5 py-4">
                    <h2
                        class="animate-typing py-4 overflow-hidden whitespace-nowrap border-r-4 border-r-secondary text-3xl sm:text-5xl font-bold text-white drop-shadow"
                    >
                        Dos enfoques que trabajan mejor juntos...
                    </h2>
                </div>

                <p
                    class="text-sm sm:text-lg font-semibold text-secondary drop-shadow"
                >
                    Diseñamos soluciones digitales que conectan la captación con
                    la gestión diaria del negocio.
                </p>
            </div>

            <div
                class="w-full flex flex-col lg:flex-row items-center justify-start gap-4"
            >
                <div
                    class="flex flex-col items-start justify-between w-full bg-black shadow-lg shadow-secondary gap-4 px-5 py-4 grow"
                >
                    <div
                        class="w-full bg-white shadow-lg shadow-secondary px-5 py-4"
                    >
                        <h3
                            class="text-lg sm:text-xl font-light text-black uppercase"
                        >
                            Páginas web orientadas a conversión
                        </h3>
                    </div>
                    <p class="text-sm sm:text-base font-base text-white">
                        Creamos páginas web claras, rápidas y enfocadas en guiar
                        al usuario hacia una acción concreta, ya sea contacto,
                        registro o solicitud de información.
                    </p>
                    <button
                        class="flex flex-row items-center gap-2 bg-secondary text-black font-semibold uppercase px-5 py-4"
                        >Conocer más<ArrowUpRight color="#000" /></button
                    >
                </div>
                <div
                    class="flex flex-col items-start justify-between w-full bg-black shadow-lg shadow-tertiary gap-4 px-5 py-4 grow"
                >
                    <div
                        class="w-full bg-white shadow-lg shadow-tertiary px-5 py-4"
                    >
                        <h3
                            class="text-lg sm:text-xl font-light text-black uppercase"
                        >
                            Automatización de procesos
                        </h3>
                    </div>
                    <p class="text-sm sm:text-base font-base text-white">
                        Diseñamos flujos que conectan formularios, mensajes y
                        herramientas internas para optimizar tiempos y reducir
                        errores operativos.
                    </p>
                    <button
                        class="flex flex-row items-center gap-2 bg-tertiary text-black font-semibold uppercase px-5 py-4"
                        >Conocer más<ArrowUpRight color="#000" /></button
                    >
                </div>
            </div>
        </div>
    </div>
</div>
