---
import Card from "../Card.astro";
---

<Card>
  <p class="text-white/50">based in</p>
  <p
    class="text-3xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500"
  >
    Medellin, Colombia
  </p>
</Card>
