---
import Card from "../Card.astro";
---

<Card cols={2} clickable href="/education">
  <p class="text-white/50" transition:name="education text">
    education & courses
  </p>
  <div
    class="flex flex-col justify-between items-center w-full gap-1 rounded-lg p-5 my-2
    border border-dotted border-black bg-black/50"
  >
    <h3 class="text-lg text-white font-bold">Software Engineer</h3>
    <p class="text-white/50">Universidad de Medellin (2024)</p>
  </div>
</Card>
