---
import Card from "../Card.astro";
---

<Card clickable href="/experience">
  <p
    class="text-5xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500"
    transition:name="experience number"
  >
    4+
  </p>
  <p class="text-white/50" transition:name="experience text">
    years of experience
  </p>
</Card>
