---
import getLanguageFile from "../../internationalization";
const { lang = "es" } = Astro.props;

const {
  click,
  index: {
    experience: { years, since },
  },
} = getLanguageFile(lang);
---

<div
  class="flex h-full w-full bg-gradient-to-br from-black via-indigo-950 to-black gsap-slidein"
>
  <a
    class="flex flex-col justify-center items-center bg-black/5 rounded-lg m-auto hover:bg-black transition-all duration-300 gsap-fadein"
    href="experience"
  >
    <button class="p-10">
      <p
        class="text-5xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500"
        transition:name="experience number"
      >
        {`${new Date().getFullYear() - 2020}+`}
      </p>
      <p class="text-white/50 gsap-split-chars">{years}</p>
      <p class="text-white/30 italic gsap-split-chars">{`${since} 2019`}</p>
      <p class="text-white/50 text-sm mt-5">{click}</p>
    </button>
  </a>
</div>
