---
import Card from "../Card.astro";

import Games from "../../icons/Games.astro";
---

<Card clickable href="/hobbies">
  <div class="text-purple-400" transition:name="hobbies icon">
    <Games />
  </div>
  <p class="text-white/50" transition:name="hobbies text">My hobbies</p>
</Card>
