---
import Card from "../Card.astro";
---

<Card cols={2}>
  <p class="text-white/50">languages</p>
  <p
    class="text-3xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500"
  >
    English <span class="text-white/50 text-base font-normal"
      >(Fluent, professional)</span
    >
  </p>
  <p
    class="text-3xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500"
  >
    Spanish <span class="text-white/50 text-base font-normal">(Native)</span>
  </p>
</Card>
