---
import SkillsItem from "../SkillsItem.astro";
import getLanguageFile from "../../internationalization";
const { lang = "es" } = Astro.props;

const {
  click,
  index: {
    skills: { title },
  },
} = getLanguageFile(lang);

const skills = [
  {
    name: "Frontend",
    level: 5,
  },
  {
    name: "Backend",
    level: 4,
  },
  {
    name: lang === 'es' ? 'Aplicaciones Móviles' : 'Mobile Apps',
    level: 5,
  },
];
---

<div class="flex h-full w-full">
  <a
    class="flex flex-col justify-center items-center bg-black/5 rounded-lg m-auto hover:bg-black transition-all duration-300 gsap-fadein"
    href="skills"
  >
    <button class="p-10">
      <p class="text-white/50">{title}</p>
      <div class="grid grid-cols-1 gap-2 py-2">
        {
          skills.map((skill) => (
            <SkillsItem name={skill.name} level={skill.level} />
          ))
        }
      </div>
      <p class="text-white/50 text-sm mt-5">{click}</p>
    </button>
  </a>
</div>
