---
import Card from "../Card.astro";

import LinkedIn from "../../assets/icons/LinkedIn.astro";
import CV from "../../assets/icons/CV.astro";
import GitHub from "../../assets/icons/GitHub.astro";
---

<Card clickable external href="https://www.linkedin.com/in/maugarbru/">
  <div class="text-purple-400">
    <LinkedIn />
  </div>
  <p class="text-white/50">LinkedIn Profile</p>
</Card>
<Card clickable external href="https://github.com/maugarbru">
  <div class="text-purple-400">
    <GitHub />
  </div>
  <p class="text-white/50">GitHub Profile</p>
</Card>
<Card clickable external href="https://www.canva.com/design/DADYPgSeKLM/yLbXjGofZ-03o6s5GEoWyg/view?website#1:english">
  <div class="text-purple-400">
    <CV />
  </div>
  <p class="text-white/50">Complete CV</p>
</Card>
