---
import Layout from "../../layouts/Layout.astro";

import BasedIn from "../../components/IndexCards/BasedIn.astro";
import Experience from "../../components/IndexCards/Experience.astro";
import Languages from "../../components/IndexCards/Languages.astro";
import Skills from "../../components/IndexCards/Skills.astro";
import Socials from "../../components/IndexCards/Socials.astro";
import Side from "../../components/Side.astro";
---

<Layout title="Home" lang="en">
  <main>
    <section
      id="basic"
      class="flex flex-col sm:flex-row h-[100vh] overflow-hidden gsap-col"
    >
      <Side lang="en" />
      <Languages lang="en" />
      <BasedIn lang="en" />
    </section>
    <section
      id="experience"
      class="flex flex-col sm:flex-row h-[100vh] overflow-hidden gsap-col"
    >
      <Experience lang="en" />
      <Skills lang="en" />
    </section>
    <section
      id="socials"
      class="flex flex-col sm:flex-row h-[100vh] overflow-hidden gsap-col"
    >
      <Socials />
    </section>
  </main>
</Layout>
