---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Contacto" lang="es">
  <main>
    <section id="header" class="h-[20vh] bg-black">
      <Header />
    </section>
    <section id="contact" class="min-h-[90vh] bg-white/75">
      <Contact />
    </section>

    <Footer />
  </main>
</Layout>
