---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import EducationItem from "../components/EducationItem.astro";

const courses = [
  {
    imageURL: "/img/udem.jpeg",
    institution: "Universidad de Medellin",
    name: "Software Engineer",
    timePeriod: "2017-2024",
  },
  {
    imageURL: "/img/udemy.jpeg",
    institution: "Udemy - Andrei Neagoie",
    name: "The Complete Web Developer in 2023: Zero to Mastery",
    timePeriod: "2022",
  },
  {
    imageURL: "/img/udemy.jpeg",
    institution: "Udemy - Fernando Herrera",
    name: "React Native: Native Apps for IOS & Android",
    timePeriod: "2022",
  },
  {
    imageURL: "/img/udemy.jpeg",
    institution: "Udemy - Kim Chen",
    name: "Complete Progressive Web App Bootcamp",
    timePeriod: "2022",
  },
  {
    imageURL: "/img/udemy.jpeg",
    institution: "Udemy - Jeovani Martínez",
    name: "Website Hosting in Serverless Mode on Amazon AWS",
    timePeriod: "2022",
  },
];
---

<Layout title="Education">
  <div
    class="flex flex-row justify-start items-center p-5 rounded-lg gap-4 bg-gradient-to-br from-stone-800 to-black"
  >
    <BackButton />
    <h1
      class="text-5xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500"
      transition:name="education text"
    >
      Education & Courses
    </h1>
  </div>

  <div class="flex flex-col justify-start items-center rounded-lg gap-2 py-2">
    {
      courses.map((item) => (
        <EducationItem
          imageURL={item.imageURL}
          institution={item.institution}
          name={item.name}
          timePeriod={item.timePeriod}
        />
      ))
    }
  </div>
</Layout>
