---
import Layout from "../layouts/Layout.astro";

import BasedIn from "../components/IndexCards/BasedIn.astro";
import Experience from "../components/IndexCards/Experience.astro";
import Languages from "../components/IndexCards/Languages.astro";
import Skills from "../components/IndexCards/Skills.astro";
import Socials from "../components/IndexCards/Socials.astro";
---

<Layout title="Home">
  <main>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-3">
      <Experience />
      <Languages />
      <BasedIn />
      <Socials />
      <Skills />
    </div>
  </main>
</Layout>
