---
import Layout from "../layouts/Layout.astro";

import BasedIn from "../components/IndexCards/BasedIn.astro";
import Education from "../components/IndexCards/Education.astro";
import Experience from "../components/IndexCards/Experience.astro";
import Languages from "../components/IndexCards/Languages.astro";
import Skills from "../components/IndexCards/Skills.astro";
import Socials from "../components/IndexCards/Socials.astro";
import Spotify from "../components/IndexCards/Spotify.astro";
import Hobbies from "../components/IndexCards/Hobbies.astro";
---

<Layout title="Home">
  <main>
    <div class="grid grid-rows-4 grid-cols-2 lg:grid-cols-4 gap-3">
      <Experience />
      <BasedIn />
      <Languages />
      <Skills />
      <Education />
      <Socials />
      <Hobbies />
      <Spotify />
    </div>
  </main>
</Layout>
