---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections-index/Hero.astro";
import ForWho from "../components/sections-index/ForWho.astro";
import TheProblem from "../components/sections-index/TheProblem.astro";
import Services from "../components/sections-index/Services.astro";
import HowWeWork from "../components/sections-index/HowWeWork.astro";
import FinalCTA from "../components/sections-index/FinalCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Inicio" lang="es">
  <main>
    <section id="hero" class="h-[100vh] overflow-hidden gsap-col bg-black">
      <Hero />
    </section>
    <section
      id="for_who"
      class="h-[100vh] overflow-hidden gsap-col bg-secondary"
    >
      <ForWho />
    </section>
    <section
      id="the_problem"
      class="h-[100vh] overflow-hidden gsap-col bg-white"
    >
      <TheProblem />
    </section>
    <section
      id="services"
      class="h-[100vh] overflow-hidden gsap-col bg-tertiary"
    >
      <Services />
    </section>
    <section
      id="how_we_work"
      class="h-[100vh] overflow-hidden gsap-col bg-primary"
    >
      <HowWeWork />
    </section>
    <section id="final_cta" class="h-[100vh] overflow-hidden gsap-col bg-black">
      <FinalCTA />
    </section>

    <Footer />
  </main>
</Layout>
