---
import ArrowUpRight from "../../assets/icons/ArrowUpRight.astro";
---

<div class="w-full h-full flex flex-col items-center justify-center py-20">
  <div class="w-full h-full xl:max-w-[75%] px-10 sm:px-20">
    <div class="w-full h-full flex flex-col items-start justify-center gap-8">
      <div
        class="w-full flex flex-col items-center justify-center gap-4 text-center"
      >
        <p
          class="text-sm sm:text-base font-light text-white uppercase animate-pulse"
        >
          ¿QUIÉNES SOMOS?
        </p>

        <div class="w-full bg-white px-5 py-4">
          <h2 class="text-3xl sm:text-5xl font-bold text-black drop-shadow">
            Un equipo pequeño, enfocado y complementario
          </h2>
        </div>

        <p class="text-sm sm:text-lg font-semibold text-white drop-shadow">
          Combinamos visión técnica y enfoque de negocio para desarrollar
          soluciones que no solo funcionan, sino que tienen sentido en el
          contexto de cada proyecto.
        </p>
      </div>

      <div
        class="w-full flex flex-col lg:flex-row items-center justify-start gap-4"
      >
        <div
          class="flex flex-col items-start justify-between w-full bg-black shadow-lg group cursor-pointer hover:shadow-secondary transition-all duration-500 gap-4 px-5 py-4 grow"
        >
          <div
            class="w-full group-hover:bg-white shadow-lg group-hover:shadow-secondary transition-all duration-500 group-hover:px-5 py-4"
          >
            <h3
              class="text-lg sm:text-xl font-bold text-secondary group-hover:text-black transition-all duration-500 uppercase"
            >
              INGENIERÍA
            </h3>
            <h4
              class="text-sm sm:text-base font-light text-secondary group-hover:text-black transition-all duration-500 uppercase"
            >
              Desarrollo y arquitectura técnica
            </h4>
          </div>
          <p class="text-sm sm:text-base font-base text-white">
            Encargado de diseñar y construir la base técnica de cada proyecto.
            Desde páginas web hasta automatización de procesos, el enfoque está
            en crear soluciones estables, rápidas y bien estructuradas.
          </p>
          <div class="flex flex-col items-start justify-start gap-4 w-full">
            <p
              class="text-xs sm:text-sm text-white font-light drop-shadow p-2 bg-primary/50 group-hover:bg-secondary/50 transition-all duration-500 rounded-full"
            >
              Eficiencia y rendimiento
            </p>
            <p
              class="text-xs sm:text-sm text-white font-light drop-shadow p-2 bg-primary/50 group-hover:bg-secondary/50 transition-all duration-500 rounded-full"
            >
              Soluciones escalables
            </p>
            <p
              class="text-xs sm:text-sm text-white font-light drop-shadow p-2 bg-primary/50 group-hover:bg-secondary/50 transition-all duration-500 rounded-full"
            >
              Implementaciones limpias y mantenibles
            </p>
          </div>
        </div>
        <div
          class="flex flex-col items-start justify-between w-full bg-black shadow-lg group cursor-pointer hover:shadow-tertiary transition-all duration-500 gap-4 px-5 py-4 grow"
        >
          <div
            class="w-full group-hover:bg-white shadow-lg group-hover:shadow-tertiary transition-all duration-500 group-hover:px-5 py-4"
          >
            <h3
              class="text-lg sm:text-xl font-bold text-tertiary group-hover:text-black transition-all duration-500 uppercase"
            >
              Negocio / Producto
            </h3>
            <h4
              class="text-sm sm:text-base font-light text-tertiary group-hover:text-black transition-all duration-500 uppercase"
            >
              Estrategia y enfoque de producto
            </h4>
          </div>
          <p class="text-sm sm:text-base font-base text-white">
            Encargada de entender el negocio, estructurar la experiencia del
            usuario y asegurar que cada solución tenga un objetivo claro. Desde
            la definición hasta la validación, todo se construye con sentido
            práctico.
          </p>
          <div class="flex flex-col items-start justify-start gap-4 w-full">
            <p
              class="text-xs sm:text-sm text-white font-light drop-shadow p-2 bg-primary/50 group-hover:bg-tertiary/50 transition-all duration-500 rounded-full"
            >
              Claridad en la propuesta
            </p>
            <p
              class="text-xs sm:text-sm text-white font-light drop-shadow p-2 bg-primary/50 group-hover:bg-tertiary/50 transition-all duration-500 rounded-full"
            >
              Experiencia del usuario
            </p>
            <p
              class="text-xs sm:text-sm text-white font-light drop-shadow p-2 bg-primary/50 group-hover:bg-tertiary/50 transition-all duration-500 rounded-full"
            >
              Enfoque en resultados reales
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
