---
import ArrowUpRight from "../assets/icons/ArrowUpRight.astro";

interface Props {
  clickable?: boolean;
  cols?: 1 | 2;
  external?: boolean;
  href?: string;
  rows?: 1 | 2;
}

const {
  clickable = false,
  cols = 1,
  external = false,
  href = "#",
  rows = 1,
} = Astro.props;
---

{
  clickable ? (
    <div
      class={`${rows === 1 ? "row-span-1" : "row-span-2"} ${
        cols === 1 ? "col-span-1" : "col-span-2"
      } rounded-lg bg-gradient-to-br from-stone-800 to-black shadow-lg group transition-all duration-300 group-hover:bg-purple-900/10 group-hover:shadow-2xl p-4`}
    >
      <a class="flex h-full" href={href} {...(external && { target: "_blank" })}>
        <div class="relative h-full w-full flex flex-col items-center justify-center text-white/50">
          <button>
            <div class="absolute top-0 right-0">
              <ArrowUpRight />
            </div>
            <slot />
          </button>
        </div>
      </a>
    </div>
  ) : (
    <div
      class={`${rows === 1 ? "row-span-1" : "row-span-2"} ${
        cols === 1 ? "col-span-1" : "col-span-2"
      } rounded-lg bg-gradient-to-br from-stone-800 to-black shadow-lg hover:shadow-2xl p-4`}
    >
      <div class="relative h-full w-full transition-all duration-300 flex flex-col items-start justify-center text-white/50">
        <slot />
      </div>
    </div>
  )
}
