---

---

<div
    class="w-full flex flex-col items-center justify-center py-5 bg-primary/50"
>
    <div class="w-full h-full xl:max-w-[75%] px-10 sm:px-20">
        <div
            class="w-full h-full flex flex-col-reverse sm:flex-row items-end justify-between gap-8"
        >
            <div
                class="w-full flex flex-col items-center sm:items-start justify-end gap-2"
            >
                <div class="bg-black h-20 w-20 rounded-full"></div>
                <h5 class="text-xs sm:text-sm font-light text-white uppercase">
                    © JOSUE 24:15 SAS
                </h5>
            </div>
            <div
                class="w-full flex flex-col items-center sm:items-end justify-end gap-2"
            >
                <a href="" class="text-xs font-light text-white"> Inicio </a>
                <a href="" class="text-xs font-light text-white">
                    Páginas web
                </a>
                <a href="" class="text-xs font-light text-white">
                    Automatización de procesos
                </a>
                <a href="" class="text-xs font-light text-white"> Contacto </a>
                <a href="" class="text-xs font-light text-white">
                    Privacidad
                </a>
            </div>
        </div>
    </div>
</div>
