---
---

<div class="relative w-full h-[20vh] flex flex-col items-end justify-end pt-14">
  <video
    class="absolute inset-0 h-full w-full object-cover"
    autoplay
    muted
    loop
    playsinline
    preload="metadata"
  >
    <source src="/videos/hero.webm" type="video/webm" />
  </video>
  <div class="absolute inset-0 bg-black/80"></div>
</div>
