---

---

<div class="flex flex-row lg:flex-col justify-center items-center gap-4 rounded-lg p-5 h-full
  bg-gradient-to-br from-stone-800 to-black">
  <picture class="h-20 w-20 lg:h-40 lg:w-40 flex-none">
    <img
      src="/img/profile.png"
      alt="Profile"
      class="object-cover w-full h-full rounded-full"
    />
  </picture>
  <div class="w-max text-center">
    <h1
      class="animate-typing overflow-hidden whitespace-nowrap border-r-4
      border-r-white pr-5 text-3xl text-white font-bold"
    >
      Mauricio Garzon
    </h1>

    <p class="text-white/50">Full-Stack Web Developer</p>
  </div>
</div>
