---
import profileImg from "../assets/img/profile.png";
import { Image } from "astro:assets";
import getLanguageFile from "../internationalization";

const { lang = "es" } = Astro.props;

const {
  index: { position },
} = getLanguageFile(lang);
---

<div
  class="flex flex-col justify-center items-center gap-4 p-5 h-full bg-black"
>
  <picture class="h-40 w-40 md:h-40 md:w-40 flex-none">
    <Image
      src={profileImg}
      alt="Profile"
      class="object-cover w-full h-full rounded-full"
      loading="eager"
    />
  </picture>
  <div class="w-max text-center">
    <h1
      class="overflow-hidden whitespace-nowrap pr-5 text-3xl bg-clip-text text-transparent bg-gradient-to-r from-white via-amber-100 to-white font-bold"
      aria-label="Mauricio Garzón B."
    >
      Mauricio Garzón B.
    </h1>

    <p class="text-white/50 gsap-split-chars">{position}</p>
  </div>
</div>
