---
import Star from "../assets/icons/Star.astro";

interface Props {
  level: number;
  name: string;
}

const { level, name } = Astro.props;
---

<div
  class="flex flex-col md:flex-row justify-between items-start w-full gap-2 rounded-lg p-2 border-2 border-dotted border-white/20 bg-black/50 gsap-fadein"
>
  <h3 class="text-sm text-left text-white font-bold">{name}</h3>
  <div class="flex gap-1 drop-shadow-lg">
    {
      Array.from({ length: 5 }, (_, i) => i + 1).map((_, i) => (
        <div class={`${i >= level ? "text-yellow-950/50" : "text-yellow-200/80"}`}>
          <Star />
        </div>
      ))
    }
  </div>
</div>
