---
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";

interface Props {
  title: string;
  lang: "es" | "en";
}

const { title, lang = "es" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#000" />
    <SEO
      title={`${title} - JOSUE 24:15`}
      description="Welcome to the professional portfolio of Mauricio Garzon. As a Software Engineer, I bring expertise in web and mobile software development. With a commitment to excellence and a passion for Javascript development, focused on delivering results. Navigate through my career journey, discover my skills, and learn how I can contribute to your projects."
      canonical="https://mgbrunal.github.io"
      openGraph={{
        basic: {
          title: `${title} - JOSUE 24:15`,
          type: "website",
          image:
            "https://media.licdn.com/dms/image/C4D03AQETLSMaC7f-WQ/profile-displayphoto-shrink_800_800/0/1649435378295?e=1712188800&v=beta&t=pYFUEe1cTBJ7ybLHxPdX5X29FVL79nZ0uuZaTCIm5co",
        },
      }}
    />
    <ClientRouter />
  </head>
  <body>
    <div class="min-h-screen max-w-screen bg-black overscroll-none">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
    }
  }
</style>
